
@media (min-width: 0px) {
    .movil-nav-icon{
        width: 35px;
        display: inline;
    }
    .browser-nav-bar{
        display: none;
    }
    .post-description{
        font-size: large;
        display: none;
    }
    .searchbox{
        width: 90%;
        border-radius: 15px;
    }
    #music-bar{
        position: fixed;
        top: 25px;
        right: 0;
        z-index: 5;

    }

}

@media (min-width: 992px) {
    .movil-nav-icon{
        display: none;
    }
    .browser-nav-bar{
        display: inline-block;
    }
    .post-description{
        font-size: smaller;
        display: inline-block;
    }
    .searchbox{
        width: 80%;
        border-radius: 15px;
    }
    #music-bar{
        position: inherit;
    }
    .post{
        margin-right: 5px;
    }
}

#latest-post-bar{
    border-left:2px solid var(--color-light-darked) ;

}

.latest-post{
    padding: 5px 0px;
    margin-left: 0px;
}

.latest-post, .post, .popular-post{
    padding: 1em 0.1em;
    border: white 2px solid;
    border-radius: 5px;
    background-color: var(--post-color);
}
.centered{
    display: flex;
    align-items: center;
}

.latest-post:hover{
    background-color: blanchedalmond;
    color: black;
}

.gallery-item:hover{
    border: 2px white solid;
    background-color:rgba(255, 255, 255, 0.5);
}
.gallery-item{
    max-height: 10em;
    display:inline-block ;
    margin: 5px; padding: 5px;

}
.icon{
    height: 15px;
    margin:0px;
    padding: 0px;
}

.top-bar{
    display: flex;
    align-items: center;
    height: 30px;
    background-color: rgb(185, 80, 80);
}

.movil-nav-icon:hover{
    background-color: darkgray;
}



img[name="miniature"]{

}

.subtitle{
    font-size: medium;
    text-align: center;
}